<footer class="footer-wrapper">
  <div class="footer-container container row">
    <div class="footer-column three col-md-4 col-sm-4" id="footer-widget-1">
      <div id="text-1">
        <div class="textwidget">
          <p class="architect-font">Copacabana</p>
          <p>Rua Siqueira Campos, 30<br>2º Andar - Sala 209</p>
          <p class="hidden-xs"><strong>Telefone:</strong><br>+55 21 97236-7871</p>
          <p class="visible-xs-block"><strong>Telefone:</strong><br><a href="tel:+55 21 97236-7871">+55 21 97236-7871</a></p>
        </div>
        <hr/>
      </div>
    </div>
    <div class="footer-column three col-md-4 col-sm-4" id="footer-widget-2">
      <div id="text-2">
        <div class="textwidget">
          <p class="architect-font">Rede Sociais</p>
          <div>
            <a href="https://instagram.com/marcela.monnerat/">
              <i class="fa fa-instagram fa-4" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/monnerat.marcela">
              <i class="fa fa-facebook-square fa-4" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <hr/>
      </div>
    </div>
    <div class="footer-column three col-md-4 col-sm-4" id="footer-widget-3">
      <div id="text-2">
        <div class="textwidget">
          <p class="architect-font">Entre em contato</p>
          <div>
            <a href="{{ .Site.BaseURL }}/contato">Envie-nos uma mensagem e marque uma availaçao gratuita!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-wrapper">
    <div class="container">
      <div class="col-lg-12">
        <p>{{ .Site.Title }} &#169; {{ now.Year }} Todos os direitos reservados</p>
      </div>
    </div>
  </div>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133865240-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-133865240-1');
  </script>
</footer>
