<!DOCTYPE html>
<html>
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#F2E8BD">
    <meta name="theme-color" content="#ff0000">
  </head>
  <body style="background: #EAE6D7">
    <p style="text-align: center; margin: 5em auto;">
      <img style="max-width: 100%" src="/logo.png" alt="Logo">
    </p>
    <h2 style="text-align:center; color: #907b63">Estamos em Constru&#231;&#227;o.</h2>
  </body>
</html>
